<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gncis.test1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".ViewCurrent" />
        <activity android:name=".CreateNew" />
        <activity android:name=".ViewOld" />
        <activity android:name=".CreateNewActivity" />
        <activity
            android:name=".CreateNewTrain"
            android:label="@string/title_activity_create_new_train"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateNewBus" />
        <activity android:name=".DisplayParts" />
        <activity android:name=".CreateNewHotel" />
        <activity android:name=".DisplayPartsFlight" />
        <activity android:name=".DisplayPartsTrain" />
        <activity android:name=".DisplayPartsHotel" />
        <activity android:name=".DisplayPartsBus" />
        <activity android:name=".About" />
    </application>

</manifest>